$color_1: #212529;
$color_2: #fff;
$color_3: #49719a;
$color_4:#919294;
$font-family_1: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
$background-color_1: #212529;
$background-color_2: transparent;